[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[user]
	name = pniessen
	email = peter_niessen@yahoo.com
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[core]
        editor = emacs
